In [1]:
import pandas as pd

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 
              'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 
              'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 
              'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [3]:
import numpy as np
import os

In [4]:
os.getcwd()

'C:\\Users\\mglee\\Desktop\\Python\\UWashington\\Regression'

In [5]:
df=pd.read_csv('kc_house_data.csv', dtype=dtype_dict)

In [6]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null object
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null float64
bathrooms        21613 non-null float64
sqft_living      21613 non-null float64
sqft_lot         21613 non-null int32
floors           21613 non-null object
waterfront       21613 non-null int32
view             21613 non-null int32
condition        21613 non-null int32
grade            21613 non-null int32
sqft_above       21613 non-null int32
sqft_basement    21613 non-null int32
yr_built         21613 non-null int32
yr_renovated     21613 non-null int32
zipcode          21613 non-null object
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null float64
sqft_lot15       21613 non-null float64
dtypes: float64(8), int32(9), object(4)
memory usage: 2.7+ MB

In [8]:
df_train = pd.read_csv('kc_house_train_data.csv', dtype=dtype_dict)

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17384 entries, 0 to 17383
Data columns (total 21 columns):
id               17384 non-null object
date             17384 non-null object
price            17384 non-null float64
bedrooms         17384 non-null float64
bathrooms        17384 non-null float64
sqft_living      17384 non-null float64
sqft_lot         17384 non-null int32
floors           17384 non-null object
waterfront       17384 non-null int32
view             17384 non-null int32
condition        17384 non-null int32
grade            17384 non-null int32
sqft_above       17384 non-null int32
sqft_basement    17384 non-null int32
yr_built         17384 non-null int32
yr_renovated     17384 non-null int32
zipcode          17384 non-null object
lat              17384 non-null float64
long             17384 non-null float64
sqft_living15    17384 non-null float64
sqft_lot15       17384 non-null float64
dtypes: float64(8), int32(9), object(4)
memory usage: 2.2+ MB

In [10]:
df_test = pd.read_csv('kc_house_test_data.csv', dtype=dtype_dict)

In [11]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4229 entries, 0 to 4228
Data columns (total 21 columns):
id               4229 non-null object
date             4229 non-null object
price            4229 non-null float64
bedrooms         4229 non-null float64
bathrooms        4229 non-null float64
sqft_living      4229 non-null float64
sqft_lot         4229 non-null int32
floors           4229 non-null object
waterfront       4229 non-null int32
view             4229 non-null int32
condition        4229 non-null int32
grade            4229 non-null int32
sqft_above       4229 non-null int32
sqft_basement    4229 non-null int32
yr_built         4229 non-null int32
yr_renovated     4229 non-null int32
zipcode          4229 non-null object
lat              4229 non-null float64
long             4229 non-null float64
sqft_living15    4229 non-null float64
sqft_lot15       4229 non-null float64
dtypes: float64(8), int32(9), object(4)
memory usage: 545.2+ KB

In [25]:
def simple_linear_regression(input_feature, output):
    N = len(input_feature)
    Xi = input_feature
    Yi = output
    
    numerator = np.sum(Yi*Xi) - ((np.sum(Yi) * np.sum(Xi)) / N)
    denominator = np.sum(Xi*Xi) - (np.square(np.sum(Xi)) / N)
    
    W1_hat = numerator / denominator
    W0_hat = (np.sum(Yi) / N) - (W1_hat * (np.sum(Xi) / N))
    
    slope = W1_hat
    intercept = W0_hat
    return (intercept, slope)

In [26]:
sqft_intercept, sqft_slope = simple_linear_regression(df_train['sqft_living'], df_train['price'])

print("Intercept: " + str(sqft_intercept))
print("Slope: " + str(sqft_slope))

Intercept: -47116.07907289418
Slope: 281.9588396303426

In [27]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = intercept + slope * input_feature
    return(predicted_output)

* Now that we can calculate a prediction given the slop and intercept let's make a prediction. Use (or alter) the following to find out the estimated price for a house with 2650 squarefeet according to the squarefeet model we estiamted above.

* 6. Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?

In [30]:
house_sqr_feet = 3004
predicted = get_regression_predictions(house_sqr_feet, sqft_intercept, sqft_slope)
print("predicted output: " + str(predicted))

predicted output: 799888.2751766549

In [16]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    # First get the predictions
    predictions = get_regression_predictions(input_feature, intercept, slope)
    # then compute the residuals (since we are squaring it doesn't matter which order you subtract)
    #residuals = predictions - output
    # square the residuals and add them up
    RSS = np.sum(np.square(predictions - output))
    return(RSS)

In [17]:
rss_prices_on_sqft = get_residual_sum_of_squares(df_train['sqft_living'], df_train['price'], sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on Square Feet is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on Square Feet is : 1201918354177283.0

1201918354177283.0

In [18]:
def inverse_regression_predictions(output, intercept, slope):
    # solve output = intercept + slope*input_feature for input_feature. Use this equation to compute the inverse predictions:
    estimated_feature = (output - intercept) / slope
    return estimated_feature

In [19]:
my_house_price = 800000
estimated_squarefeet = inverse_regression_predictions(my_house_price, sqft_intercept, sqft_slope)
print("The estimated squarefeet for a house worth $%.2f is %d" % (my_house_price, estimated_squarefeet))

The estimated squarefeet for a house worth $800000.00 is 3004

In [20]:
# Estimate the slope and intercept for predicting 'price' based on 'bedrooms'
sqft_intercept, sqft_slope = simple_linear_regression(df_train['bedrooms'], df_train['price'])

print("Intercept: " + str(sqft_intercept))
print("Slope: " + str(sqft_slope))

Intercept: 109473.1776229596
Slope: 127588.95293398784

In [21]:
# Compute RSS when using bedrooms on TEST data:

In [22]:
rss_prices_on_sqft = get_residual_sum_of_squares(df_test['bedrooms'], df_test['price'], sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on bedrooms is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on bedrooms is : 493364585960300.9

In [23]:
# Compute RSS when using squarefeet on TEST data:
sqft_intercept, sqft_slope = simple_linear_regression(df_test['sqft_living'], df_test['price'])
rss_prices_on_sqft = get_residual_sum_of_squares(df_test['sqft_living'], df_test['price'], sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on Square Feet is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on Square Feet is : 275168573899671.8

In [24]:
4.93364582868e+14

493364582868000.0

In [31]:
sqft_intercept, sqft_slope = simple_linear_regression(df_test['bedrooms'], df_test['price'])
rss_prices_on_sqft = get_residual_sum_of_squares(df_test['bedrooms'], df_test['price'], sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on bedrooms is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on bedrooms is : 490597142829587.5